* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
/* 모달창 스타일 변경 */
.modal-header {
  background-color: #000;
  color: #fff;
}
.modal-body {
  background: #000;
}
.modal-header .btn-close {
  background-color: #dd3444;
}
